* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
    --primary: #7b2cbf;          
    --primary-hover: #9d4edd;    
    --secondary: #9aa0a6;       
    
    --bg-page: #050505;          
    --bg-card: #121212;          
    --bg-input: rgba(255,255,255,0.03);
    
    --border-color: #333;
    --border-focus: rgba(123, 44, 191, 0.5); 
    
    --text-highlight: #9d4edd;   
    --danger: #dc3545;
    --success: #198754;
    --warning: #ffc107;
}

body.theme-blood {
    --primary: #8a0303;         
    --primary-hover: #dc2626;    
    
    --text-highlight: #d4af37;  
    --border-focus: rgba(212, 175, 55, 0.5); 
    
    --bg-page: #080000;
}

body {
    background-color: var(--bg-page);
    font-family: 'Inter', sans-serif;
    color: #e6e9eb;
    transition: background-color 0.5s ease; 
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--bg-page); }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--primary); }