/* Arquivo de Estilos Globais.
    Contém reset de CSS, importação de fontes e definição de variáveis (Tokens de Design).
*/

/* Reset básico para remover margens e preenchimentos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/* Definição de Variáveis CSS (:root).
    Centraliza as cores e temas do sistema para facilitar manutenção.
    Tema Padrão: Roxo (Dark Fantasy).
*/
:root {
    --primary: #7b2cbf;          
    --primary-hover: #9d4edd;    
    --secondary: #9aa0a6;       
    
    --bg-page: #050505;          
    --bg-card: #121212;          
    --bg-input: rgba(255,255,255,0.03);
    
    --border-color: #333;
    --border-focus: rgba(123, 44, 191, 0.5); 
    
    --text-highlight: #9d4edd;   
    --danger: #dc3545;
    --success: #198754;
    --warning: #ffc107;
}

/* Tema Alternativo: Blood Theme (Vermelho).
    Sobrescreve as variáveis principais para alterar a identidade visual.
*/
body.theme-blood {
    --primary: #8a0303;         
    --primary-hover: #dc2626;    
    
    --text-highlight: #d4af37;  
    --border-focus: rgba(212, 175, 55, 0.5); 
    
    --bg-page: #080000;
}

/* Estilos base do corpo da página */
body {
    background-color: var(--bg-page);
    font-family: 'Inter', sans-serif;
    color: #e6e9eb;
    transition: background-color 0.5s ease; 
}

/* Customização da Barra de Rolagem (Scrollbar) para navegadores Webkit */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--bg-page); }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--primary); }