HELP.md
.DS_Store
Thumbs.db
*.log

**/target/
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/wrapper/maven-wrapper.jar
**/*.class

**/src/main/resources/application-local.properties
**/.env

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
**/bin/

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.vscode/
*.code-workspace

**/node_modules/
npm-debug.log
yarn-error.log

postgres_data/
mysql_data/